.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-setting {
    display: grid;
    grid-template-columns: calc(100% / 3) 1fr;
    grid-template-rows: minmax(100px, auto);
}

.box-scroll-card {
    height: 350px;
    overflow: scroll;
}

.box-card {
    display: grid;
    gap: 1rem;
}

.tranfer-appliances {
    width: 100%;
    gap: 0.5rem;
}

.tranfer-appliances .ant-transfer-list {
    width: 50%;
}


@media (max-width: 768px) {
    .tranfer-appliances {
        display: flex;
        flex-wrap: wrap;
    }

    .tranfer-appliances .ant-transfer-list {
        width: 100%;
    }

    .tranfer-appliances .box-card {
        height: 350px;
        overflow: scroll;
    }
}