@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

body {
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 400;
}
/* .h-85vh {
    height: calc(100vh - 200px);
} */
.pb-200{
    padding-bottom:200px ;
}